//team modal
.team-modal {
	display: none;
	background-color: rgba(0, 0, 0, .4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	z-index: 50;

	&.is-shown {
		display: block;
	}

	&__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		width: 100%;
		height: 80%;
		position: relative;
		overflow: auto;

		@include respond-to(medium) {
			height: auto;
		}
	}

	&__slide {
		animation: fade-in .5s;
		display: none;
		position: relative;
		background-color: var(--white);
		border-top: 1.5rem solid var(--color-secondary);

		padding: 1.5rem;
		margin: 0 auto;
		width: 100%;

		flex-wrap: wrap;
		justify-content: center;

		&.is-shown {
			display: flex;
		}

		@include respond-to(small) {
			width: 50rem;
		}

		@include respond-to(medium) {
			width: 70rem;
		}

		@include respond-to(large) {
			width: 90rem;
		}
	}

	&__item {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 1.5rem;
		width: 100%;

		@include respond-to(medium) {
			width: 50%;
		}
	}

	&__img {
		width: 20rem;
		margin: 0 auto;
	}

	&__info {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 auto;
	}

	&__name {
		font-family: var(--font-header);
		font-size: var(--font-large);
		color: var(--color-primary);
		display: block;
		text-align: center;
	}

	&__role {
		color: var(--muted);
		font-size: var(--font-extra-small);
		letter-spacing: 1px;
		text-align: center;
	}

	&__title {
		font-family: var(--font-header);
		font-size: var(--font-medium);
		color: var(--color-primary);
		letter-spacing: .1rem;
		display: block;
		margin-bottom: 1rem;
	}

	&__likes {
		list-style-type: none;
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		margin-bottom: 1.5rem;
	}

	&__close {
		color: var(--red);
		font-size: var(--font-medium);
		display: block;
		position: absolute;
		top: 1rem;
		right: 2rem;
	}
}
