@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: local('Bebas Neue'),
	local('Bebas Neue-Regular'),
	url(../fonts/BebasNeue.ttf);
} 

@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: local('Montserrat'),
	local('Montserrat-Regular'),
	url(../fonts/Montserrat.ttf);
} 

@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: local('Playfair Display'),
	local('Playfair Display-Regular'),
	url(../fonts/PlayfairDisplay.ttf);
} 